{% extends "layout.html" %}

{% block title %}Alluvium{% endblock %}

{% block body %}

<h5>Search results for <span class="blue-text">{{ query }}</span></h5>

<ul id="result-list" class="collection"></ul>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.8.1/axios.min.js"></script>
<script>
var resultList = document.getElementById('result-list');
var socket = io('http://' + document.domain + ':' + location.port);

// event handler for receiving a 'new_result' event on the socket.
socket.on('new_result', function(data) {
    resultList.innerHTML = '<li class="collection-item">'+'ARTICLE:'+data.new_val.article+'       '+'USER_ID:'+" "+data.new_val.user_id+'</li>' + resultList.innerHTML;
});

// log general messages
socket.on('message', function(data) {
    console.log("Got a message from the server:");
    console.log(data);
});

</script>

{% endblock %}
