{% extends "layout.html" %}

{% block title %}Alluvium{% endblock %}

{% block body %}

<h5>Search results for <span class="blue-text">{{ query }}</span></h5>

<table class="collection">
    <thead>
        <tr>
            <th>User</th>
            <th>Tweet</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody id="result-list"></tbody>
</table>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.8.1/axios.min.js"></script>
<script>
var resultList = document.getElementById('result-list');
var socket = io('http://' + document.domain + ':' + location.port);

// event handler for receiving a 'new_result' event on the socket.
socket.on('new_result', function(data) {
    resultList.innerHTML = '<tr><td>' + data.new_val.user+'</td><td>'+data.new_val.text+'</td><td>' + 
        data.new_val.timestamp+'</td></tr>'+resultList.innerHTML;
});

// log general messages
socket.on('message', function(data) {
    console.log("Got a message from the server:");
    console.log(data);
});

</script>

{% endblock %}
